body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3c689;
  text-align: center;
}

header {
  background-color: #e3c689;
  color: #670104;
  padding: 1em 0;
  font: small-caps 100%/200% serif; /* Ajusta el valor según tus preferencias */
  border-bottom: 1px solid white; /* Añade un borde blanco en la parte inferior */
}

header h1 img {
  width: 400px; /* Ajusta el ancho según tus preferencias */
  height: auto; /* Mantén la proporción de la imagen */
  margin-right: 0px; /* Ajusta según tus preferencias para separar la imagen del texto */
  vertical-align: middle; /* Alinea verticalmente la imagen al medio del texto */
}

.background-container {
  /*background-image: url("images\IMG_5461.jpg");  Reemplaza 'ruta_de_tu_imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Ajusta según tus preferencias (cover, contain, etc.) */
  background-position: center; /* Ajusta según tus preferencias (top, bottom, left, right, etc.) */
  height: 400px; /* Ajusta la altura según tus preferencias */
  position: relative; /* Necesario para posicionar el contenido dentro */
}

.background-container img {
  height: 300px;
  width: 100%;
}

.background-container h2 {
  margin-top: -10px;
  color: #fff;
  position: absolute;
  bottom: 50px;
}
.background-container p {
  margin-bottom: 10px; /* Ajusta la separación entre el título y el párrafo según sea necesario */
  color: white; /* Color blanco para el texto */
  text-align: center; /* Centrar el texto horizontalmente */
  position: absolute;
  bottom: 0; /* Alinear el texto en la parte inferior */
  left: 50%; /* Alinear el texto en el centro */
  transform: translateX(-50%); /* Centrar el texto horizontalmente */
  width: 100%; /* Ajustar al ancho completo de la container */
}

nav {
  background-color: #a57d27;
  color: #fff;
  border-top: 2px solid white; /* Añade un borde blanco en la parte inferior */
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

section {
  margin: 20px;
  border-bottom: 1px solid white; /* Añade un borde blanco en la parte inferior */
}

#botones-verticales {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#botones-verticales button {
  margin-bottom: 30px;
  font-size: 30px; /* Ajusta el tamaño de la fuente según tus preferencias */
  padding: 15px; /* Ajusta el relleno (padding) según tus preferencias */
  background-color: #670104;
  color: #fff;
  border-radius: 20px; /* Ajusta el valor del border-radius según tus preferencias */
  border: none; /* Elimina el borde */
  width: 90%; /* Ajustar al ancho completo de la container */
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
}

/*Esto es para la parte de la busqueda de Stolperstein*/
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(100% + 2px); /* Posición 20px por debajo de la sección 2 */
  padding: 10px;
}

.action-button {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #dea400;
  color: black;
  border: none;
  margin: 2px;
  width: 100%; /* Ajustar al ancho completo de la container */
}

.button-icon {
  margin-right: 10px;
  width: 35px; /* Ajusta el ancho de la imagen según tus preferencias */
  height: 35px; /* Ajusta la altura de la imagen según tus preferencias */
}

/*Code for the timeLine*/

.timeline {
  position: relative;
  max-width: 750px;
  margin: 50px auto;
  align-items: right;
}

.line {
  position: absolute;
  top: 130px;
  left: 15%;
  width: 2px;
  height: 66%;
  background-color: #670104;
  transform: translateX(-50%);
}

.event {
  position: relative;
  margin-left: 15%;
  padding: 20px;
  box-sizing: border-box;
  width: 50%;
}

.event img {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  margin-bottom: 10px;
}

.dot {
  position: absolute;
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #670104;
  border-radius: 50%;
}

/*Code for the timeline Googlecode*/

html {
  font-family: sans-serif;
}
.lineatemp {
  position: relative;
  width: 600px;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.fila {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.fila .disco {
  width: 36px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.fila .disco:after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(505 - 2px);
  height: 100%;
  width: 3px;
  background: #80deea;
  z-index: -1;
}
.fila:first-child .disco:after {
  height: 50%;
  top: 50%;
}
.fila:last-child .disco:after {
  height: 50%;
}
.fila .disco > div {
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #670104;
  box-sizing: border-box;
}
.fila:hover .disco > div {
  border: 3px solid #670104;
  background: white;
}
.fila div:nth-of-type(2) {
  width: 20%;
  padding: 4px;
  display: flex;
  align-items: center;
}
.fila div:nth-of-type(3) {
  width: 60%;
  padding: 4px;
}

/*Buttons code Style*/

.buttons {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e3c689;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  background-color: #fff;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}

/* Estilos para el botón de volumen */
.volume-button {
  background-color: #fff;
  margin-left: auto;
}

/* Estilos para el ícono de volumen */
.volume-icon::before {
  content: "\1F50A"; /* Símbolo Unicode para el ícono de volumen */
  font-size: 24px;
}

.webcam-container {
  display: inline-block;
  margin-top: 30px;
}

#webcam-title {
  color: #670104;
  text-align: center;
  font-size: 23px;
}
#foto {
  width: 352px;
  height: 400px;
  border-radius: 10%;
  align-items: center;
  margin-top: 30px;
  flex-shrink: 0;
}

#inputVideo {
  width: 352px;
  height: 400px;
  border-radius: 10%;
  align-items: center;
  margin-top: 30px;
  flex-shrink: 0;
}

.cuadro-vacio {
  position: absolute;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 200px; /* Ajusta la altura según tus necesidades */
  border-color: white;
  border-width: 3px;
  border-style: dashed;
  margin-top: -460px;
  margin-left: 25%;
}
.picture {
  border-radius: 70%;
  margin-top: -100px;
}

.picture button {
  background: none;
  border: none;
  font-size: 50px;
  margin: 1px; /* Separación de 1 píxel entre el borde y el botón */
}

#coordenadas {
  position: fixed;
  bottom: 110px; /* Ajusta la distancia desde la parte inferior según tus preferencias */
  left: 10px; /* Ajusta la distancia desde el lado derecho según tus preferencias */
  background-color: none; /* Color de fondo para mayor visibilidad */
  padding: 10px;
}
